Repository fluxbyte-internal/project-management, pull requests merged in 2023-12, with the labels that each got.

#140 136 handle dependencies and multiple task assign users
  packages/backend/prisma/migrations/20231215091636_task_assign_to_multiple_user_and_dependencies/migration.sql
  packages/backend/prisma/migrations/20231220061106_task_assign_user_unique_dependencies_milestone/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/routers/task.routes.ts
  packages/backend/src/schemas/enums.ts
  packages/backend/src/schemas/taskSchema.ts
Labels: backend, task

#147 142 task multiple dependencies
  packages/backend/prisma/migrations/20231225072212_multiple_dependencies/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/routers/task.routes.ts
  packages/backend/src/schemas/enums.ts
  packages/backend/src/schemas/taskSchema.ts
  thunder-collection_project_management.json
Labels: backend

#152 completed password change functionality
  packages/backend/src/schemas/userSchema.ts
  packages/frontend/src/Environment.ts
  packages/frontend/src/api/mutation/usePasswordChangeMutation.ts
  packages/frontend/src/api/query/useCurrentUserQuery.ts
  packages/frontend/src/components/changePassword/ChangePassword.tsx
  packages/frontend/src/pages/account-settings/index.tsx
Labels: frontend
