Repository fluxbyte-internal/project-management, pull requests merged in 2024-01, with the labels that each got.

#161 160 handle task duration
  packages/backend/prisma/migrations/20240101063800_duration_type_float/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/config/db.ts
  packages/backend/src/schemas/taskSchema.ts
  packages/frontend/src/components/common/InputNumber.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
Labels: frontend, backend

#157 149 history management
  packages/backend/prisma/migrations/20240101083619_history_management/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/routers/task.routes.ts
  packages/backend/src/schemas/enums.ts
  packages/backend/src/types/removeProperties.ts
Labels: backend, task

#169 remove-org-member-api
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/routers/organisation.routes.ts
  packages/backend/src/schemas/organisationSchema.ts
Labels: backend, task

#166 backend prisma change , frontend client feedback
  packages/backend/prisma/migrations/20240103110220_set_unique_to_project_id_organisation_id/migration.sql
  packages/backend/prisma/schema.prisma
  packages/frontend/src/api/mutation/useTaskCreateMutation.ts
  packages/frontend/src/api/mutation/useTaskRemove.ts
  packages/frontend/src/assets/svg/BackIcon.svg
  packages/frontend/src/assets/svg/DiamondIcon.svg
  packages/frontend/src/components/tasks/taskComment.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/pages/tasks/index.tsx
Labels: frontend, backend

#177 role-based-middleware
  packages/backend/prisma/migrations/20240111061726_role_based_db_changes/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/middleware/role.middleware.ts
  packages/backend/src/routers/organisation.routes.ts
  packages/backend/src/routers/project.routes.ts
  packages/backend/src/routers/task.routes.ts
  packages/backend/src/schemas/enums.ts
Labels: backend, in-review

#167 163 client feedback 3 jan
  packages/frontend/src/api/mutation/useOrganisationRemoveMemberMutation.ts
  packages/frontend/src/api/mutation/useUpdateOrganisationMemberMutation.ts
  packages/frontend/src/api/query/useProjectDetailQuery.ts
  packages/frontend/src/api/query/useProjectQuery.ts
  packages/frontend/src/assets/svg/Rainy.svg
  packages/frontend/src/assets/svg/cloudy.svg
  packages/frontend/src/assets/svg/stormy.svg
  packages/frontend/src/assets/svg/sunny.svg
  packages/frontend/src/components/common/Dialog.tsx
  packages/frontend/src/components/layout/NavBar.tsx
  packages/frontend/src/components/layout/SideBar.tsx
  packages/frontend/src/components/project/CreateProjectForm.tsx
  packages/frontend/src/components/project/CreateProjectNoPopupForm.tsx
  packages/frontend/src/pages/organisation/OrganisationDetails.tsx
  packages/frontend/src/pages/project-details/ProjectDetails.tsx
  packages/frontend/src/pages/projectsList/index.tsx
Labels: frontend

#198 task-calculation-resolved bug
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/task.controller.ts
Labels: backend, in-review

#211 204 handle filter frontend console admin
  packages/frontend/src/components/views/TaskFilter.tsx
  packages/frontend/src/components/views/kanbanView/index.tsx
  packages/frontend/src/guards/AuthGuard.tsx
  packages/frontend/src/pages/projectsList/index.tsx
Labels: frontend

#210 165 notifications
  packages/backend/package.json
  packages/backend/prisma/migrations/20240108060700_notification/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/notification.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/routers/notification.routes.ts
  packages/backend/src/server.ts
  packages/backend/src/services/cron.services.ts
  packages/backend/src/services/socket.services.ts
  packages/frontend/package.json
  packages/frontend/src/Environment.ts
  packages/frontend/src/api/query/querykeys.ts
  packages/frontend/src/api/query/useAllNotificationQuery.ts
  packages/frontend/src/components/layout/NavBar.tsx
  packages/frontend/src/helperFuntions/notificationFormatter.ts
  yarn.lock
Labels: frontend, backend

#134 114 auth integration
  packages/backend/.env.example
  packages/backend/package.json
  packages/backend/prisma/migrations/20231212045429_user_provider/migration.sql
  packages/backend/prisma/migrations/20231220061106_task_assign_user_unique_dependencies_milestone/migration.sql
  packages/backend/prisma/migrations/20231222084056_dependant_task/migration.sql
  packages/backend/prisma/migrations/20240112103609_updated_changes_migrations/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/config/db.ts
  packages/backend/src/config/settings.ts
  packages/backend/src/controllers/auth.controller.ts
  packages/backend/src/controllers/console.controller.ts
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/controllers/user.controller.ts
  packages/backend/src/middleware/auth.middleware.ts
  packages/backend/src/routers/auth.routes.ts
  packages/backend/src/routers/console.routes.ts
  packages/backend/src/routers/user.routes.ts
  packages/backend/src/schemas/userSchema.ts
  packages/backend/src/server.ts
  packages/backend/src/services/passport.services.ts
  packages/backend/src/utils/setCookies.ts
  packages/frontend/.env.example
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/Environment.ts
  packages/frontend/src/api/ApiRequest.tsx
  packages/frontend/src/api/mutation/useLogOutMutation.ts
  packages/frontend/src/api/mutation/useLoginMutation.ts
  packages/frontend/src/api/mutation/useSignupMutation.ts
  packages/frontend/src/components/shared/Table.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/views/TaskFilter.tsx
  packages/frontend/src/components/views/calendarView/index.css
  packages/frontend/src/components/views/calendarView/index.tsx
  packages/frontend/src/components/views/index.tsx
  packages/frontend/src/components/views/kanbanView/index.css
  packages/frontend/src/components/views/kanbanView/index.tsx
  packages/frontend/src/components/views/kanbanView/rulesSetups/rulesForm.tsx
  packages/frontend/src/components/views/kanbanView/rulesSetups/rulesSetups.tsx
  packages/frontend/src/guards/AuthGuard.tsx
  packages/frontend/src/hooks/useAuth.ts
  packages/frontend/src/hooks/useUser.ts
  packages/frontend/src/pages/account-settings/index.tsx
  packages/frontend/src/pages/authentication/login/index.tsx
  packages/frontend/src/pages/authentication/signup/index.tsx
  packages/frontend/src/pages/projectsList/index.tsx
  packages/frontend/src/pages/tasks/index.tsx
  yarn.lock
Labels: frontend, backend

#215 213 feedback backend
  packages/backend/prisma/migrations/20240130124428_add_actual_end_date_consumed_budget_history_enum_cascade/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/controllers/auth.controller.ts
  packages/backend/src/controllers/console.controller.ts
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/routers/project.routes.ts
  packages/backend/src/schemas/projectSchema.ts
Labels: backend

#222 two-factor-backend-for-console
  packages/backend/prisma/migrations/20240131113544_otp_changes_made_common_table_without_relation/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/controllers/console.controller.ts
  packages/backend/src/routers/console.routes.ts
  packages/backend/src/services/userOtp.services.ts
Labels: backend

#220 214 feedback change 30 jan
  packages/backend/prisma/migrations/20240131113022_history_enum_and_project_desc_optional/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/schemas/projectSchema.ts
  packages/frontend/src/Environment.ts
  packages/frontend/src/api/mutation/useTaskStatusUpdateMutation.ts
  packages/frontend/src/api/query/useProjectQuery.ts
  packages/frontend/src/components/layout/NavBar.tsx
  packages/frontend/src/components/project/CreateProjectForm.tsx
  packages/frontend/src/components/project/CreateProjectNoPopupForm.tsx
  packages/frontend/src/components/shared/Table.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/views/TaskFilter.tsx
  packages/frontend/src/components/views/kanbanView/index.tsx
  packages/frontend/src/pages/projectsList/index.tsx
  packages/frontend/src/pages/tasks/index.tsx
Labels: frontend
