Repository fluxbyte-internal/project-management, pull requests merged in 2024-02, with the labels that each got.

#230 handle-router-resend-otp
  packages/backend/src/routers/console.routes.ts
Labels: backend

#237 231 soft delete backend
  packages/backend/prisma/migrations/20240202092853_deleted_at_key_and_on_delete_cascade/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/auth.controller.ts
  packages/backend/src/controllers/console.controller.ts
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/controllers/user.controller.ts
  packages/backend/src/routers/organisation.routes.ts
  packages/backend/src/schemas/organisationSchema.ts
  packages/backend/src/services/cron.services.ts
  packages/backend/src/utils/selectedFieldsOfUsers.ts
  packages/frontend/src/api/mutation/useReAssingTaskMutation.ts
  packages/frontend/src/pages/organisation/OrganisationDetails.tsx
Labels: frontend, backend

#225 201 dashboard frontend UI
  packages/backend/prisma/schema.prisma
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/auth.controller.ts
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/routers/dashboard.routes.ts
  packages/backend/src/server.ts
  packages/backend/src/types/statusCount.ts
  packages/backend/src/utils/setCookies.ts
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/Environment.ts
  packages/frontend/src/api/query/usePortfolioDashboardQuery.ts
  packages/frontend/src/api/query/useProjectDashboardQuery.ts
  packages/frontend/src/api/query/useProjectManagerPortfolioDashboardQuery.ts
  packages/frontend/src/assets/png/Cloudy.png
  packages/frontend/src/assets/png/Rainy.png
  packages/frontend/src/assets/png/Stormy.png
  packages/frontend/src/assets/png/Sunny.png
  packages/frontend/src/components/charts/BarChart.tsx
  packages/frontend/src/components/charts/PieChart.tsx
  packages/frontend/src/guards/AuthGuard.tsx
  packages/frontend/src/pages/dashboard/adminDashboard/index.tsx
  packages/frontend/src/pages/dashboard/index.tsx
  packages/frontend/src/pages/dashboard/managerDashboard/index.tsx
  packages/frontend/src/pages/dashboard/projectDashboard/index.tsx
  packages/frontend/src/routes.tsx
  yarn.lock
Labels: frontend, backend

#239 bug fix
  packages/backend/src/utils/setCookies.ts
  packages/frontend/src/components/charts/PieChart.tsx
  packages/frontend/src/components/layout/NavBar.tsx
  packages/frontend/src/components/tasks/taskDependencies.tsx
  packages/frontend/src/components/views/ganntView/GanttView.tsx
  packages/frontend/src/pages/authentication/login/index.tsx
  packages/frontend/src/pages/authentication/signup/index.tsx
  packages/frontend/src/pages/dashboard/projectDashboard/index.tsx
  packages/frontend/src/pages/projectsList/index.tsx
  yarn.lock
Labels: bug, frontend

#243 241 calculation dashboard and UI
  packages/backend/prisma/migrations/20240209102037_added_enum_schedule_budget_trend/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/config/db.ts
  packages/backend/src/config/settings.ts
  packages/backend/src/controllers/auth.controller.ts
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/routers/dashboard.routes.ts
  packages/backend/src/schemas/enums.ts
  packages/backend/src/schemas/projectSchema.ts
  packages/backend/src/utils/setCookies.ts
  packages/frontend/src/api/query/useCurrentUserQuery.ts
  packages/frontend/src/api/query/useProjectDashboardQuery.ts
  packages/frontend/src/api/query/useProjectDetailQuery.ts
  packages/frontend/src/api/query/useProjectManagerPortfolioDashboardQuery.ts
  packages/frontend/src/api/query/useProjectQuery.ts
  packages/frontend/src/assets/decrease.svg
  packages/frontend/src/assets/increase.svg
  packages/frontend/src/assets/stable.svg
  packages/frontend/src/components/charts/HorizontalBarChart.tsx
  packages/frontend/src/components/charts/PieChart.tsx
  packages/frontend/src/components/layout/NavBar.tsx
  packages/frontend/src/components/project/CreateProjectNoPopupForm.tsx
  packages/frontend/src/components/shared/Table.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/views/index.tsx
  packages/frontend/src/hooks/useUser.ts
  packages/frontend/src/pages/dashboard/adminDashboard/index.tsx
  packages/frontend/src/pages/dashboard/index.tsx
  packages/frontend/src/pages/dashboard/managerDashboard/index.tsx
  packages/frontend/src/pages/dashboard/projectDashboard/index.tsx
  packages/frontend/src/pages/organisation/OrganisationDetails.tsx
  packages/frontend/src/pages/project-details/ProjectDetails.tsx
  packages/frontend/src/pages/projectsList/index.tsx
  packages/frontend/src/pages/tasks/index.tsx
Labels: frontend, backend

#245 244 dashboard issue backend
  packages/backend/src/controllers/dashboard.controller.ts
Labels: backend

#255 251 feedback 15 02 2024
  packages/backend/prisma/migrations/20240219053218_script_remove_unique_user_id_from_user_provider/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/controllers/auth.controller.ts
  packages/backend/src/controllers/console.controller.ts
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/user.controller.ts
  packages/backend/src/routers/auth.routes.ts
  packages/backend/src/services/passport.services.ts
  packages/frontend/src/api/query/useCurrentUserQuery.ts
  packages/frontend/src/api/query/useOrganisationDetailsQuery.ts
  packages/frontend/src/components/tasks/taskComment.tsx
  packages/frontend/src/components/tasks/taskHistory.tsx
Labels: backend

#259 256 exclude non working days
  packages/backend/package.json
  packages/backend/prisma/migrations/20240219063821_organisations_holidays/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/controllers/user.controller.ts
  packages/backend/src/routers/organisation.routes.ts
  packages/backend/src/utils/calculateCPI.ts
  packages/backend/src/utils/calculateSPI.ts
  packages/backend/src/utils/calculationFlag.ts
  packages/backend/src/utils/calculationSubTaskProgression.ts
  packages/backend/src/utils/removeNonWorkingDays.ts
  packages/frontend/src/api/mutation/useCsvUploadMutation.ts
  packages/frontend/src/assets/svg/csvIcon.svg
  packages/frontend/src/pages/organisation/organisationForm/organisationNoPopupForm.tsx
Labels: frontend, backend

#262 261 feedback 21 02 2024
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/routers/organisation.routes.ts
  packages/backend/src/utils/selectedFieldsOfUsers.ts
  packages/frontend/src/api/mutation/useResendUserInvitaionMutation.ts
  packages/frontend/src/api/query/useCurrentUserQuery.ts
  packages/frontend/src/api/query/useOrganisationDetailsQuery.ts
  packages/frontend/src/api/query/useProjectQuery.ts
  packages/frontend/src/assets/svg/mailResendIcon.svg
  packages/frontend/src/assets/svg/sendIcon.svg
  packages/frontend/src/components/project/CreateProjectNoPopupForm.tsx
  packages/frontend/src/components/tasks/taskHistory.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/pages/account-settings/index.tsx
  packages/frontend/src/pages/organisation/OrganisationDetails.tsx
  packages/frontend/src/pages/project-details/projectMember.tsx
  packages/frontend/src/pages/projectsList/index.tsx
  packages/frontend/src/pages/tasks/index.tsx
  yarn.lock
Labels: frontend, backend

#264 263 feedback changes
  packages/backend/prisma/migrations/20240221093954_handle_unique_task_and_status/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/config/apiError.ts
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/schemas/enums.ts
  packages/backend/src/utils/calculationFlag.ts
  packages/frontend/src/components/project/CreateProjectForm.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/views/TaskFilter.tsx
  packages/frontend/src/components/views/kanbanView/index.tsx
  packages/frontend/src/pages/authentication/signup/index.tsx
Labels: frontend, backend

#266 265 changes feedback
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/schemas/organisationSchema.ts
  packages/backend/src/schemas/taskSchema.ts
  packages/backend/src/utils/calcualteTaskEndDate.ts
  packages/backend/src/utils/calculateProjectDuration.ts
  packages/backend/src/utils/calculateProjectEndDate.ts
  packages/backend/src/utils/calculateSPI.ts
  packages/backend/src/utils/calculationFlag.ts
  packages/backend/src/utils/calculationSubTaskProgression.ts
  packages/backend/src/utils/removeNonWorkingDays.ts
  packages/frontend/src/api/query/useOrganisationDetailsQuery.ts
  packages/frontend/src/api/query/useProjectDashboardQuery.ts
  packages/frontend/src/api/query/useProjectQuery.ts
  packages/frontend/src/assets/csv/sample_holiday.csv
  packages/frontend/src/components/charts/PieChart.tsx
  packages/frontend/src/components/layout/NavBar.tsx
  packages/frontend/src/components/layout/SideBar.tsx
  packages/frontend/src/components/project/CreateProjectForm.tsx
  packages/frontend/src/components/project/CreateProjectNoPopupForm.tsx
  packages/frontend/src/components/project/NoProject.tsx
  packages/frontend/src/components/shared/Table.tsx
  packages/frontend/src/components/tasks/taskDependencies.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/views/TaskFilter.tsx
  packages/frontend/src/components/views/calendarView/index.tsx
  packages/frontend/src/components/views/ganntView/GanttView.tsx
  packages/frontend/src/components/views/index.tsx
  packages/frontend/src/components/views/kanbanView/rulesSetups/rulesSetups.tsx
  packages/frontend/src/pages/authentication/signup/index.tsx
  packages/frontend/src/pages/dashboard/adminDashboard/index.tsx
  packages/frontend/src/pages/dashboard/managerDashboard/index.tsx
  packages/frontend/src/pages/dashboard/projectDashboard/index.tsx
  packages/frontend/src/pages/organisation/OrganisationDetails.tsx
  packages/frontend/src/pages/organisation/organisationForm/index.tsx
  packages/frontend/src/pages/organisation/organisationForm/organisationNoPopupForm.tsx
  packages/frontend/src/pages/project-details/ProjectDetails.tsx
  packages/frontend/src/pages/project-details/projectMember.tsx
  packages/frontend/src/pages/projectsList/index.tsx
  packages/frontend/src/pages/tasks/index.tsx
Labels: frontend, backend, in-progress

#270 269 dashboard project with delay
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/auth.controller.ts
  packages/backend/src/controllers/console.controller.ts
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/controllers/user.controller.ts
  packages/backend/src/utils/calculateSPI.ts
  packages/frontend/src/api/query/usePortfolioDashboardQuery.ts
  packages/frontend/src/api/query/useProjectManagerPortfolioDashboardQuery.ts
  packages/frontend/src/components/charts/PieChart.tsx
  packages/frontend/src/components/layout/NavBar.tsx
  packages/frontend/src/components/views/TaskFilter.tsx
  packages/frontend/src/pages/dashboard/adminDashboard/index.tsx
  packages/frontend/src/pages/dashboard/managerDashboard/index.tsx
Labels: frontend, backend

#272 271 milestone issue
  packages/backend/src/controllers/dashboard.controller.ts
  packages/frontend/src/pages/tasks/index.tsx
Labels: bug, frontend, backend
