Repository fluxbyte-internal/project-management, pull requests merged in 2024-03, with the labels that each got.

#276 273 reamove s3 static url
  packages/frontend/.env.example
  packages/frontend/src/Environment.ts
  packages/frontend/src/pages/organisation/organisationForm/organisationNoPopupForm.tsx
Labels: frontend

#281 280 feedback change 04 03 2024
  packages/backend/prisma/migrations/20240305045014_add_csv_url_and_job_title_fields/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/schemas/organisationSchema.ts
  packages/frontend/src/api/query/useProjectQuery.ts
  packages/frontend/src/components/layout/SideBar.tsx
  packages/frontend/src/components/project/CreateProjectForm.tsx
  packages/frontend/src/components/project/CreateProjectNoPopupForm.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/views/index.tsx
  packages/frontend/src/pages/project-details/ProjectDetails.tsx
  packages/frontend/src/pages/project-details/projectMember.tsx
Labels: frontend, backend

#289 288 changes 08 03 2024
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/utils/calculateCPI.ts
  packages/backend/src/utils/calculateSPI.ts
  packages/backend/src/utils/calculationFlag.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/api/query/useProjectDashboardQuery.ts
  packages/frontend/src/components/layout/NavBar.tsx
  packages/frontend/src/components/shared/Table.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/ui/slider.tsx
  packages/frontend/src/components/views/ganntView/GanttView.tsx
  packages/frontend/src/pages/account-settings/index.tsx
  packages/frontend/src/pages/authentication/login/index.tsx
  packages/frontend/src/pages/authentication/signup/index.tsx
  packages/frontend/src/pages/dashboard/adminDashboard/index.tsx
  packages/frontend/src/pages/dashboard/managerDashboard/index.tsx
  packages/frontend/src/pages/dashboard/projectDashboard/index.tsx
  packages/frontend/src/pages/organisation/OrganisationDetails.tsx
  packages/frontend/src/pages/organisation/organisationForm/organisationNoPopupForm.tsx
  packages/frontend/src/pages/project-details/projectMember.tsx
Labels: frontend, backend

#293 292 14 03 2024 feedback
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/frontend/src/components/charts/PieChart.tsx
  packages/frontend/src/components/tasks/taskAttachment.tsx
  packages/frontend/src/components/tasks/taskComment.tsx
  packages/frontend/src/components/tasks/taskDependencies.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/views/ganntView/GanttView.tsx
  packages/frontend/src/pages/dashboard/projectDashboard/index.tsx
  packages/frontend/src/pages/organisation/index.tsx
  packages/frontend/src/pages/tasks/index.tsx
Labels: frontend, backend

#295 294 changes 15 03 2024
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/utils/calcualteTaskEndDate.ts
  packages/backend/src/utils/calculateCPI.ts
  packages/backend/src/utils/calculateProjectDuration.ts
  packages/backend/src/utils/calculateSPI.ts
  packages/backend/src/utils/calculationFlag.ts
  packages/frontend/src/api/query/useAllTaskQuery.ts
  packages/frontend/src/components/layout/NavBar.tsx
  packages/frontend/src/components/project/CreateProjectNoPopupForm.tsx
  packages/frontend/src/components/tasks/taskComment.tsx
  packages/frontend/src/components/tasks/taskDependencies.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/views/calendarView/index.tsx
  packages/frontend/src/components/views/ganntView/GanttView.tsx
  packages/frontend/src/components/views/kanbanView/index.tsx
  packages/frontend/src/pages/organisation/organisationForm/index.tsx
  packages/frontend/src/pages/organisation/organisationForm/organisationNoPopupForm.tsx
  packages/frontend/src/pages/tasks/index.tsx
Labels: frontend, backend

#297 296 task status handle based on percentage
  packages/backend/prisma/migrations/20240318065241_add_project_role_key/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/controllers/auth.controller.ts
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/routers/project.routes.ts
  packages/backend/src/schemas/projectSchema.ts
  packages/backend/src/services/cron.services.ts
  packages/backend/src/utils/calcualteTaskEndDate.ts
  packages/backend/src/utils/calculateProjectDuration.ts
  packages/backend/src/utils/calculationFlag.ts
  packages/backend/src/utils/taskRecursion.ts
  packages/frontend/src/api/mutation/useProjectRoleUpdateMutation.ts
  packages/frontend/src/api/query/useProjectQuery.ts
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/pages/project-details/projectMember.tsx
Labels: frontend, backend

#299 Handle: duration - issue
  packages/backend/src/services/cron.services.ts
  packages/backend/src/utils/calcualteTaskEndDate.ts
  packages/frontend/src/components/views/ganntView/GanttView.tsx
  packages/frontend/src/pages/organisation/organisationForm/organisationNoPopupForm.tsx
Labels: backend

#301 300 issues 19 03 2024
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/utils/calculateSPI.ts
  packages/backend/src/utils/calculationSubTaskProgression.ts
Labels: backend

#303 302 cron issue
  packages/backend/src/config/db.ts
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/services/cron.services.ts
  packages/backend/src/services/socket.services.ts
  packages/backend/src/utils/calcualteTaskEndDate.ts
  packages/backend/src/utils/calculateCPI.ts
  packages/backend/src/utils/calculateDurationFromDate.ts
  packages/backend/src/utils/calculateEndDateFromDuration.ts
  packages/backend/src/utils/calculateSPI.ts
  packages/backend/src/utils/taskRecursion.ts
  packages/frontend/src/api/query/useProjectDashboardQuery.ts
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/views/kanbanView/index.tsx
  packages/frontend/src/index.css
  packages/frontend/src/pages/dashboard/adminDashboard/index.tsx
  packages/frontend/src/pages/dashboard/managerDashboard/index.tsx
  packages/frontend/src/pages/dashboard/projectDashboard/index.tsx
Labels: frontend, backend

#305 Resolved-ParentTask-issue
  packages/backend/src/utils/calcualteTaskEndDate.ts
  packages/backend/src/utils/taskRecursion.ts
Labels: backend

#307 306 handle infinity issue
  packages/backend/src/controllers/dashboard.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/utils/calculationFlag.ts
  packages/frontend/src/api/mutation/useTaskCreateMutation.ts
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/pages/dashboard/projectDashboard/index.tsx
  packages/frontend/src/pages/project-details/ProjectDetails.tsx
  packages/frontend/src/pages/tasks/index.tsx
Labels: frontend, backend

#309 308 21 03 2024 feedback change
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/views/kanbanView/index.tsx
  packages/frontend/src/components/views/kanbanView/taskShellView.tsx
  packages/frontend/src/pages/dashboard/projectDashboard/index.tsx
  packages/frontend/src/pages/project-details/projectMember.tsx
Labels: frontend, backend

#311 310 22 03 2024 feedback change
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/pages/dashboard/adminDashboard/index.tsx
  packages/frontend/src/pages/project-details/projectMember.tsx
  packages/frontend/src/pages/projectsList/index.tsx
  packages/frontend/src/pages/tasks/index.tsx
Labels: frontend, backend

#314 313 26 03 feedback change
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/controllers/task.controller.ts
  packages/backend/src/utils/calculationFlag.ts
  packages/frontend/src/assets/svg/checkMark.svg
  packages/frontend/src/components/tasks/taskComment.tsx
  packages/frontend/src/components/tasks/taskSubTaskForm.tsx
  packages/frontend/src/components/views/ganntView/GanttView.tsx
  packages/frontend/src/pages/authentication/login/index.tsx
  packages/frontend/src/pages/authentication/signup/index.tsx
  packages/frontend/src/pages/dashboard/adminDashboard/index.tsx
  packages/frontend/src/pages/dashboard/managerDashboard/index.tsx
  packages/frontend/src/pages/dashboard/projectDashboard/index.tsx
  packages/frontend/src/pages/organisation/organisationForm/index.tsx
  packages/frontend/src/pages/project-details/projectMember.tsx
  packages/frontend/src/pages/projectsList/index.tsx
  packages/frontend/src/pages/tasks/index.tsx
  packages/frontend/src/pages/terms/privacyPolicy.tsx
  packages/frontend/src/pages/terms/terms.tsx
Labels: frontend, backend

#316 315 26 03 2024 feedback issue resolve
  packages/backend/src/controllers/organisation.controller.ts
  packages/backend/src/controllers/project.controller.ts
  packages/backend/src/routers/organisation.routes.ts
  packages/frontend/src/pages/organisation/OrganisationDetails.tsx
  packages/frontend/src/pages/organisation/organisationForm/index.tsx
Labels: frontend, backend

#320 Backend: handle zod validation conditionally
  packages/backend/src/schemas/projectSchema.ts
Labels: backend
